<!--HTML-doc for about.component-->
<h1><i class="fa-solid fa-circle-info"></i> Om webbplatsen</h1>

<h2><i>På denna sidan beskriver jag mitt arbete med Angular och vilka slutsatser jag dragit.</i></h2>

<h3><i class="fa-solid fa-laptop-code"></i> Mitt arbetssätt:</h3>
<p class="textObject">För att göra denna uppgiften började jag att installera och starta upp ett Angular-projekt. 
    Efter att jag testkörde och skapade ett nytt repo till Github, 
    ordnade jag upp mina filer och lade till nya komponent-filer som mitt projekt ska innehålla.
    Det grundläggande på sidorna (övergripande design) har lagts i en och samma komponent, 
    sen har varje undersida en egen komponent för dess individuella innehåll.
    Jag lade till design på webbplatsen och utgick från ett grafiskt enhetligt tema tillsammans med en favicon, logotyp, bild och annan passande utformning. 
    Vid visning av bilder, måttkonvertering och andra objekt på webbplatsen, har jag använt mig av databindning.
    Har under arbetsprocessen dokumenterat min arbetsgång i en README-fil.  
</p>

<h3><i class="fa-solid fa-pen-to-square"></i> Mina slutsatser:</h3>
<p class="textObject">Det jag kan dra som slutsatser efter att ha arbetat med ett projekt i Angular är att det först och främst har varit utvecklande.
    Jag upplever att fil- och mappstrukturen utgör en tydlig överblick på arbetsfilerna. Att man delar upp i komponenter gör koden lättare att nå och underhålla.
    Det går snabbt och smidigt vid uppdateringar och man får mycket gratis, som tex tydliga indikationer vid felskrivningar eller om någon väg inte kan hittas. 
    Detta spara mycket tid, som ibland kan läggas på felsökningar. Jag tycker slutligen att det har varit mycket lärorikt och roligt att arbeta i Angular.   

</p>

<!--The form component is inserted here.-->
<app-form></app-form>