/*Styles for form.component.*/
h2 {
    text-align: center;
}

form {
    width:100%;
    margin-left: 35%;
    height:auto;
    padding:2%;
}

label {
    font-size: 1.1em; 
    font-weight: bold;
}

input {
    padding:0.5%; 
    width:15%;
}
button {
    padding:0.5%;
    border-radius: 15px; 
    font-size: 1em;
    background-color: lightgreen; 
    margin-left: 6%; 
    cursor: pointer;
}

/*Media queries for smaller screen sizes.*/
@media (max-width:1024px){
    form {margin-left: 30%;}
    button {margin-left: 10%;}
}

@media (max-width:600px){
    h2{font-size: 1.2em; margin-top: 8%;}
    form {margin-left: 12%; width:75%; text-align: center;}
    input {width:50%;}
    label {font-size: 0.9em;}
    button {margin-left: 2%; font-size: 0.9em; padding:1.5%;}
}