h2 {
    text-align: center;
}


form {
    width:100%;
    margin-left: 35%;
    height:auto;
    padding:2%;
}

label {
    font-size: 1.1em; 
    font-weight: bold;
}

input {
    padding:0.5%; 
    width:15%;
}
button {
    padding:0.5%;
    border-radius: 15px; 
    font-size: 1em;
    background-color: lightgreen; 
    margin-left: 6%; 
    cursor: pointer;
}