
<nav>

    <ul>
        <li><a routerLink="/start" routerLinkActive="active"><i class="fa-solid fa-house"></i> STARTSIDA</a></li>
        <li><a routerLink="/convert" routerLinkActive="active"><i class="fa-solid fa-calculator"></i> KONVERTERA MÅTT</a></li>
        <li><a routerLink="/about" routerLinkActive="active"><i class="fa-solid fa-circle-info"></i> OM WEBBPLATSEN</a></li>
    </ul>
</nav>
<router-outlet />
<footer>
   <p><strong>KURS:</strong> Programmering i TypeScript- Moment 3</p>
   <p>Webbutvecklingsprogrammet, VT 2025</p>
   <p>© thne1900</p>
</footer>
