<!--HTML doc for app.component.-->


<!--The logotype-->
<img src="loggo.png" class="logo" alt="Webbplatsens logotyp">

<!--The nav.menu (router)-->
<nav> 
    <ul>
        <li><a routerLink="/start" routerLinkActive="active"><i class="fa-solid fa-house"></i> STARTSIDA</a></li>
        <li><a routerLink="/convert" routerLinkActive="active"><i class="fa-solid fa-calculator"></i> KONVERTERA MÅTT</a></li>
        <li><a routerLink="/about" routerLinkActive="active"><i class="fa-solid fa-circle-info"></i> OM WEBBPLATSEN</a></li>
    </ul>
</nav>

<router-outlet />

<!--The footer (data binding)-->
<footer>
   <p><strong>KURS:</strong> {{ course }} - Moment 3</p>
   <p><i>{{ schoolProgram }}, VT  {{ year }}</i></p>
   <p>© {{ schoolName }}</p>
</footer>
